.contact-form {
  margin-top: 8.125rem;
  margin-bottom: 8.125rem;

  .form-wrapper {
    width: 25.938rem;
    text-align: center;
    margin: auto;
    border-radius: 0.313rem;

    #contact-form {
      position: relative;
      z-index: 1;
    }

    background:#fff;
    padding:13.125rem 4.375rem 7.188rem 4.375rem;
    box-shadow: 0px 0px 86px 0px rgba(0, 0, 0, 0.06);
    position: relative;

    .shape-inner-flower {
      .shpe2 {
        position: absolute;
        top: 1.063rem;
        left: 1rem;
        width: 94%;
        height: 52.438rem;
      }
    }

    .shape-outer-flower {
      .outer-top {
        position: absolute;
        top: -3.875rem;
        left: -8.938rem;
        z-index: -1;
      }

      .outer-bottom {
        position: absolute;
        bottom: 0.125rem;
        right: -8.313rem;
        z-index: -1;
      }
    }

    .form-input {
      height: 3.75rem;
      width: 90%;
      border: 0;
      color: #a3a3a3;
      font-weight: 500;
      margin: 0.938rem;
      padding-left: 1.25rem;
      text-transform: capitalize;
      border-radius: 0.313rem;
      border: 0.063rem solid #d9d9d9;
    }

    .form-select {
      padding-right: 1.25rem;
      width: 96% !important;
      background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
      -webkit-appearance: none;
      background-position-x: 96%;
    }

    .form-textarea {
      color: #a3a3a3;
      font-weight: 500;
      letter-spacing: 0.125rem;
      text-transform: capitalize;
      margin: 0.938rem;
      padding-left: 1.25rem;
      padding-top: 1.25rem;
      height: 8.75rem;
      width: 90%;
      border: 0;
      border-radius: 0.313rem;
      border: 0.063rem solid #d9d9d9;
    }
  }
}

.form-wrapper:hover {
  .shape-outer-flower {
    .outer-top {
      top: -4.375rem;
    }

    .outer-bottom {
      bottom: 1.125rem;
    }
  }
}

.confirm-button {
  background-color: #dd4444;
  border: none;
  color: white;
  padding: 0.938rem 2rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.313rem;
  margin: 0.25rem 0.125rem;
  cursor: pointer;
}